<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.Ex-mapper">
<select id="exListData" resultType="ExVO" parameterType="hashmap">
	SELECT home_no,poster,subject,num
	FROM (SELECT home_no,poster,subject,rownum as num 
	FROM (SELECT home_no,poster,subject
	FROM hometraining WHERE cate_no=#{cate_no} ORDER BY cate_no DESC))
	WHERE num BETWEEN #{start} AND #{end}
</select>
<select id="exTotalPage" resultType="int" parameterType="int">
	SELECT CEIL(COUNT(*)/12.0) FROM hometraining
	WHERE cate_no=#{cate_no}
</select>
<select id="exTotalData" resultType="ExVO" parameterType="hashmap">
	SELECT home_no,poster,subject,num
	FROM (SELECT home_no,poster,subject,rownum as num
	FROM (SELECT home_no,poster,subject
	FROM hometraining ORDER BY cate_no))
	WHERE num BETWEEN #{start} AND #{end}
</select>
<select id="exTotalPage2" resultType="int" parameterType="int">
	SELECT CEIL(COUNT(*)/12.0) FROM hometraining
</select>
  <select id="exDetailData" resultType="ExVO" parameterType="int">
   SELECT * FROM hometraining
   WHERE home_no=#{home_no}
  </select>
</mapper>