<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.Challenge-mmpaer">
	<!-- 챌린지 전체목록 -->
	<select id="challengeTotalListData" resultType="ChallengeVO" parameterType="hashmap">
		SELECT Challenge_no,cate,start_day,end_day,poster,title,id_leader,limit, num
		FROM (SELECT Challenge_no,cate,start_day,end_day,poster,title,id_leader,limit,rownum as num
		FROM (SELECT Challenge_no,cate,start_day,end_day,poster,title,id_leader,limit
		FROM challenge ORDER BY start_day DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select> 
	
	
	<!-- 챌린지 목록 -->
	<select id="challengeCateListData" resultType="ChallengeVO" parameterType="hashmap">
		SELECT Challenge_no,cate,start_day,end_day,poster,title,id_leader,limit, num
		FROM (SELECT Challenge_no,cate,start_day,end_day,poster,title,id_leader,limit,rownum as num
		FROM (SELECT Challenge_no,cate,start_day,end_day,poster,title,id_leader,limit
		FROM challenge WHERE cate=#{cate} ORDER BY start_day DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select> 
	
	<!-- 챌린지 목록 전체 페이지 수  -->
	<select id="challengeTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM challenge
	</select>
	
	<!-- 챌린지 목록 카테고리별 페이지 수  -->
	<select id="challengeCateTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM challenge
		WHERE cate=#{cate}
	</select>
	
	<!-- 챌린지 도전 추가하기 -->
	<insert id="challengeInsert" parameterType="ChallengeVO">
 		INSERT INTO challenge VALUES(
 			challenge_no_seq.nextval,
 			#{cate},
 			#{db_start_day},<!-- yyyy-MM-dd 형태로 오라클에 저장되지 않는 것 같음 -->
 			#{title},
 			#{limit},
 			#{poster},
 			#{content},
 			#{id_leader},
 			#{db_end_day}, 			
 			SYSDATE, <!-- 디폴트값 잡혀있는데 꼭넣어야 하나? -->
 			1
 		)
 	</insert>
 	
<select id="ChallengeListData" resultType="ChallengeVO" parameterType="hashmap">
     SELECT Challenge_no,cate,TO_CHAR(START_DAY,'YYYY-MM-DD') as db_start_day,title, limit, poster,content,id_leader,num 
     FROM (SELECT Challenge_no,cate,START_DAY,title, limit, poster,content,id_leader,rownum as num 
     FROM (SELECT Challenge_no,cate,START_DAY,title, limit, poster,content,id_leader 
     FROM Challenge ORDER BY challenge_no DESC)) 
     WHERE num BETWEEN #{start} AND #{end}
     <!-- 
     CHALLENGE_NO NOT NULL NUMBER        
	CATE         NOT NULL VARCHAR2(500) 
	START_DAY    NOT NULL DATE          
	TITLE        NOT NULL VARCHAR2(500) 
	LIMIT        NOT NULL NUMBER        
	POSTER                VARCHAR2(500) 
	CONTENT               VARCHAR2(500) 
	ID_LEADER    NOT NULL VARCHAR2(300)
     -->
</select>  
<!-- 디테일 데이터  -->
<select id="ChanllenDetailData" resultType="ChallengeVO" parameterType="int">
	SELECT * FROM Challenge
	WHERE Challenge_no = #{challenge_no}
</select>
	
	<!-- 인증 사진 가져오는 부분 -->
<select id="Challenge_CertifiedData" resultType="Challenge_CertifiedVO" parameterType="int">
	SELECT * FROM Challenge_Certified
	WHERE Challenge_no = #{no}
</select>
	 
	 <!-- 인증 업로드 -->
<insert id="Challenge_CertifiedUpload"  parameterType="Challenge_CertifiedVO">
    <selectKey keyProperty="certified_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(certified_no)+1,1) FROM Challenge_Certified
    </selectKey>
	INSERT INTO Challenge_Certified VALUES(
     #{challenge_no},
     #{poster},
     SYSDATE,
     #{certified_check},
     #{certified_no},
     #{challenge_id}
	)
</insert>

<insert id="Challenge_participation" parameterType="Challenge_ParticipationVO">
	INSERT INTO challenge_participation VALUES(
	#{challenge_no},
	#{challenge_id}
	)
</insert>

</mapper>