<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrainingTutor.coach-mapper">
   <insert id="ScheduleInsert" parameterType="ScheduleVO">
      INSERT INTO coach_schedule VALUES(
      #{coach_no},
      #{month},
      #{time},
      #{place},
      #{reserve_check},
      #{schedule_no}
      )
   </insert>
   <insert id="CoachInsert" parameterType="tutor_VO">
      Insert INTO coach_info VALUES(
      #{cate_no},
      #{coach_no},
      #{coach_name},
      #{coach_detail},
      #{coach_poster},
      #{poster},
      #{subject},
      #{content},
      #{price},
      #{review_avg}
      )
   </insert>

   <!-- 코치정보 -->
   <select id="coachListData" resultType="tutor_VO" parameterType="hashmap">
      SELECT
      coach_no,coach_name,coach_detail,coach_poster,poster,subject,content,price,review_avg,num
      FROM (SELECT coach_no,coach_name,coach_detail,coach_poster,poster,subject,content,price,review_avg,rownum as num
      FROM (SELECT coach_no,coach_name,coach_detail,coach_poster,poster,subject,content,price,review_avg
      FROM coach_info WHERE cate_no=#{cateno}))
      WHERE num BETWEEN #{start} AND #{end}
   </select>
   <select id="coachTotalPage" resultType="int">
      SELECT CEIL(COUNT(*)/10.0) FROM coach_info
   </select>


   <!-- 코치스케쥴데이터 -->
   <select id="scheduleData" resultType="ScheduleVO" parameterType="ScheduleVO">
      SELECT * FROM coach_schedule
      WHERE coach_no=#{coach_no}
   </select>

   <!-- 코치스케쥴 -->
   <select id="scheduleListData" resultType="ScheduleVO" parameterType="hashmap">
      SELECT coach_no,month,time,place,reserve_check,schedule_no,num
      FROM (SELECT coach_no,month,time,place,reserve_check,schedule_no,rownum as num
      FROM (SELECT coach_no,month,time,place,reserve_check,schedule_no
      FROM coach_schedule))
      WHERE num BETWEEN #{start} AND #{end}
   </select>
   <select id="scheduleTotalPage" resultType="int">
      SELECT CEIL(COUNT(*)/10.0) FROM coach_schedule
   </select>

   <select id="coachDetailData" resultType="tutor_VO" parameterType="hashmap">
      SELECT * FROM coach_info
      WHERE coach_no=#{coach_no}
   </select>

   <!-- 예약페이지 코치정보 -->
   <select id="coachReserveData" resultType="tutor_VO">
      SELECT coach_no,coach_name,coach_poster,price FROM coach_info
   </select>
   <!-- 예약페이지 코치스케쥴목록 -->
   <select id="scheduleReserveData" resultType="ScheduleVO" parameterType="int">
      SELECT * FROM coach_schedule 
      WHERE coach_no=#{coach_no}
   </select>
   <!-- 
                         no  group_id   group_step  group_tab  root  depth
        AAAAAA            1     1          0            0              3
          =>OOOOOOO       8     1          1           1              0
          =>KKKKKKK       7     1          2            1              0
          =>BBBBBB        2     1          3            1              1
          
           =>CCCCCCC      3     1          4            2              1
            =>FFFFFFF     5     1          5            3              0
          
        DDDDDD            4     2          0            0              1
          => GGGGGGG      6     2          1            1              0
          => KKKKKK       9     2          1            1
          
        no는 자동 증가값으로 생성된 순서대로 번호가 붙는다
		group_id는 그룹을 나누기 위해 만든다
		group_step : 그룹 답변 순서(답변 추가시 바꿔야한다.)
		group_tab : 그룹에서 몇번째 밑에 있는지 나타낸다
		root : 자기 바로위 조상의 no를 값으로 가진다. 조상이 없으면 0
		depth : 자신 게시물 밑에 달릿 답글수 : depth가 0인 경우만 삭제가 가능하다
    -->
   <!-- Q&A게시판목록 -->
   <select id="qnaListData" resultType="CoachQnaVO" parameterType="hashmap">
      SELECT coach_no,coach_qna_no,writer,subject,content,hit,pwd,regdate,num
      FROM (SELECT coach_no,coach_qna_no,writer,subject,content,hit,pwd,regdate,rownum as num
      FROM coach_no,coach_qna_no,writer,subject,content,hit,pwd,regdate
      FROM coach_qna))
      WHERE num BETWEEN #{start} AND #{end}
   </select> 
   
   <!-- 코치예약추가 -->
   <insert id="coachreserveInsert">
   	<selectKey keyProperty="reserve_no" resultType="int" order="BEFORE">
   		SELECT NVL(MAX(reserve_no)+1,1) as reserve_no FROM coach_reserve 
   	</selectKey>
   		INSERT INTO coach_reserve VALUES(
   			#{coach_no},
   			#{schedule_no},
   			#{id},
   			#{reserve_no}
   		)
   </insert>
   	<resultMap type="com.sist.vo.Coach_ReserveVO" id="coachreserveList">
   		   <result property="coach_no" column="coach_no"/>
		   <result property="schedule_no" column="schedule_no"/>
		   <result property="id" column="id"/>
		   <result property="reserve_no" column="reserve_no"/>	
   	</resultMap>
   	
   	<!-- 코치 예약 가능여부 -->
   	<update id="coachreserveOK" parameterType="hashmap">
   		UPDATE coach_schedule SET
   		reserve_check='n'
   		WHERE coach_no=#{coach_no} AND schedule_no=#{schedule_no}
   	</update>
   	
   	<!-- 마이페이지 예약목록  -->
   	<select id="coachReserveList" resultType="com.sist.vo.Coach_ReserveVO" parameterType="String">
   		SELECT * FROM coach_reserve
   		WHERE id=#{id}
   	</select>
   	
   	<!-- 코치별 qna 검색 
   	
   	
   	coach_no     NUMBER        NOT NULL,
	coach_qna_no NUMBER        NOT NULL,
    id           VARCHAR2(500) NOT NULL,
	subject      VARCHAR2(500) NOT NULL,
	content      CLOB          NOT NULL,
	hit          NUMBER       ,
	regdate      DATE         ,
    group_id   NUMBER       ,
	group_step NUMBER       ,
	group_tab  NUMBER       ,
	root       NUMBER       ,
	depth      NUMBER       ,
   	-->
   <select id="coachQnaList" resultType="CoachQnaVO" parameterType="int">
   	SELECT coach_no,coach_qna_no,subject,content,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,id,name,form,hit,group_id,group_tab
   	FROM coach_qna 
   	WHERE coach_no=#{coach_no}
   	ORDER BY group_id asc,group_tab asc
   </select>
   
    <!-- 댓글 올리기  -->
  <insert id="CoachQnaInsert" parameterType="CoachQnaVO">
    <!-- 적용할 수 없다(한번) -->
    <selectKey keyProperty="coach_qna_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(coach_qna_no)+1,1) as coach_qna_no FROM coach_qna
    </selectKey>
    INSERT INTO coach_qna(coach_qna_no,coach_no,id,name,form,subject,content,regdate,group_id,hit,group_tab) VALUES(
      #{coach_qna_no},
      #{coach_no},
      #{id},
      #{name},
      #{form},
      #{subject},
      #{content},
      SYSDATE,
      (SELECT NVL(MAX(group_id)+1,1) FROM coach_qna),
      0,
      0
    )
  </insert>
  
  <!-- 코치가 	qna 답변하는 내용 -->
  <insert id="CoachQnaReply" parameterType="CoachQnaVO">
    <!-- 적용할 수 없다(한번) -->
    <selectKey keyProperty="coach_qna_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(coach_qna_no)+1,1) as coach_qna_no FROM coach_qna
    </selectKey>
    INSERT INTO coach_qna(coach_qna_no,coach_no,id,name,subject,content,regdate,group_id,hit,group_tab) VALUES(
      #{coach_qna_no},
      #{coach_no},
      #{id},
      #{name},
      #{subject},
      #{content},
      SYSDATE,
      #{group_id},
      0,
      #{group_tab}
    )
  </insert>

   <!-- 내용보기   조회수 증가-->
  <update id="coachQnaHitIncrement" parameterType="hashmap">
    UPDATE coach_qna SET
    hit=hit+1
    WHERE coach_no=#{coach_no} 
    AND coach_qna_no=#{coach_qna_no}
  </update>
  
   <!-- 내용보기   조회수 증가-->
  <select id="coachQnaDetailData" parameterType="hashmap" resultType="CoachQnaVO">
    SELECT coach_no,coach_qna_no,subject,content,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,id,name,form,hit,group_id
    FROM coach_qna
    WHERE coach_no=#{coach_no} 
    AND coach_qna_no=#{coach_qna_no}
  </select>
  
</mapper>