<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.user-mapper">
	<select id="memberIdcheck" resultType="int"
		parameterType="String">
		SELECT COUNT(*) FROM home_user
		WHERE id=#{id}
	</select>
	<!-- 회원가입 -->
	<insert id="memberInsert" parameterType="com.sist.vo.MemberVO">
		INSERT INTO home_user VALUES(
		#{id},
		#{pwd},
		#{name},
		#{email},
		#{gender},
		#{birthday},
		#{tel},
		#{post},
		#{addr1},
		#{addr2},
		#{my_exercise},
		#{my_level},
		'n'
		)
	</insert>
	<!-- 로그인 -->
	<select id="memberLogin" resultType="MemberVO"
		parameterType="String">
		SELECT pwd,id,name,admin FROM home_user
		WHERE id=#{id}
	</select>
	<!-- 로그인 시 메인 출력  -->
	<resultMap type="MemberVO" id="mainList">
	  <result property="id" column="id"/>
      <result property="my_exercise" column="my_exercise"/>
      <result property="my_level" column="my_level"/>
      <result property="evo.poster" column="poster"/>
      <result property="evo.subject" column="subject"/>
      <result property="evo.home_no" column="home_no"/>
      <result property="evo.home_level" column="home_level"/>
      <result property="evo.cate_no" column="cate_no" />
    </resultMap>
    <select id="memberRcList1" resultMap="mainList" parameterType="String">
      SELECT id,subject,poster,cate_no,home_no,home_level
      FROM home_user,hometraining
      WHERE my_level=hometraining.home_level
      and id=#{id}
	</select>
	<select id="memberRcList2" resultMap="mainList" parameterType="String">
      SELECT id,subject,poster,cate_no,home_no,home_level
      FROM home_user,hometraining
      WHERE my_exercise=hometraining.cate_no
      and id=#{id}
	</select>
	
	
	
	<!-- 비회원로그인시 홈트 데이터 랜덤으로 가져오는 부분  -->
	<select id="Non_members_Ex" resultType="ExVO" parameterType="int">
		SELECT * FROM hometraining WHERE cate_no=#{cate_no}
	</select>
	
	
	<!-- 비회원로그인시 코치 데이터 랜덤으로 가져오는 부분  -->
	<select id="Non_members_coach" resultType="tutor_VO" parameterType="int">
		SELECT * FROM coach_info WHERE cate_no=#{cate_no}
	</select>
	
	
	<!-- 비회원로그인시 샵 데이터 랜덤으로 가져오는 부분  -->
	<select id="Non_members_shop" resultType="ShopVO" parameterType="int">
		select * from shop where cate_no like '%'||#{cate_no}||'%'
	</select>
	
</mapper>